*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 15px 20px;
    background-color: white;
    border-bottom: 3px solid rgb(0, 0, 182);
}

#logo{
    width: 200px;
    height: 40px;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #0c4da2;
    display: none; /* se muestra al hacer clic */
    flex-direction: column;
    padding: 20px;
}

.menu a {
    color: white;
    padding: 15px 0;
    display: block;
    font-size: 20px;
    text-decoration: none;
}

main div img{
    width: 360px;
}

#game-section{
    margin-top: 45px;
}

#games-gallery{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    overflow: scroll;
}

.games{
    display: flexbox;
    flex-direction: row;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    color: gray;
}

.games img{
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);
    width: 250px;
}

.games a{
    text-decoration: none;
    color: gray;
}

a :hover{
    text-decoration: underline;
}

h2{
    color: #0c4da2;
    font-family: sans-serif;
    font-size: 35px;
}