*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --capcom-color:#0c4da2;
}

header{
    z-index: 1;
}

#capcom-header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;   
    padding: 15px 20px;
    width: 100%;
    background-color: white;
    border-bottom: 3px solid rgb(0, 0, 182);
}

#logo{
    width: 200px;
    height: 40px;
}

.hamburger {
  transition: transform 0.3s ease;
}

.hamburger:hover {
  transform: rotate(180deg);
}

#v-menu{
    display: none;
}

#v-menu a{
    flex-direction: row;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: var(--capcom-color);
    display: none;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
}

.menu a {
    color: white;
    padding: 15px 0;
    display: block;
    font-size: 20px;
    text-decoration: none;
}

.slider {
    width: 100%;
    overflow: hidden;
    height: auto;
}

.slides {
    display: flex;
    animation: slide 12s infinite;
}

.slides img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(0); }

    38%  { transform: translateX(-100%); }
    66%  { transform: translateX(-100%); }

    71%  { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

#game-section{
    margin-top: 45px;
}

#games-gallery{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 30px;
    overflow: scroll;
}

.games{
    flex-direction: row;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    color: gray;
}

.games img{
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);
    width: 15.62rem;
    height: auto;
}

.games a{
    text-decoration: none;
    color: gray;
    transition: with 2s;
}

.games a :hover{
    position: relative;
    text-decoration: underline;
}

h2{
    color: #0c4da2;
    font-family: sans-serif;
    font-size: 2rem;
    margin-left: 4rem;
}

#news-div{
    margin: 15px;
    width: 315px;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    align-content: center;
}

div.new{
    box-shadow:  0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
}

.new img{
    width: 315px;
}

.new-text{
    margin: 7px;
}

.new-text h3{
    font-size: 1rem;
    font-weight: bold;
}

.new-text a{
    text-decoration: none;
    color: rgb(74, 73, 73);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;

}

.nav-text a:hover{
    transition: 0.5s;
    transform: scale(2.2);
    text-decoration: underline;
}

#more-news{
    text-align: center;
    text-decoration: none;
    color: rgb(74, 73, 73);
    border-bottom: 35px;
    margin-bottom: 20px;
}

#more-news a{
    text-decoration: none;
    color: rgb(176, 0, 0);

}

#more-news a p::first-letter {
  color: var(--capcom-color);
  font-size: 1.6rem;
}


/* SOCIAL BAR */
.social-bar {
  background: var(--capcom-color);
  padding: 16px 0;
}

.social-icons {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 26px;
}

.social-icons i {
  color: white;
  font-size: 1.89rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.social-icons i:hover {
  opacity: 0.7;
}

/* FOOTER CONTENT */
.footer-content {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

.footer-column h3 {
  font-size: 1rem;
  margin-bottom: 18px;
  color: #222;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 12px;
}

.footer-column ul li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #555;
}

.footer-column ul li a:hover {
  color: var(--capcom-color);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }
}

@media screen and (min-width:761px ){
    #v-menu{
        display: block;
        position: relative;
    }
    .hamburger{
        display: none;
    }
    .slide img{
        width: 100%;
        height: 75%;
    }
    .new{
        width: 250px;
        margin-left: 50px;
        font-size: 20px;
    }
    .new h3{
        font-size: 25px ;
    }
    .new img{
        width: 250px;
    }
    #news-div{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .new, .new img{
        width: 350px;
    }
    
    .news-div {
        display: flex;
        flex-direction: row;
    }
}
/*404-page*/

#unfound{
    margin-top: 130px;
    text-align: center;  
    color: #0b5ed7; 
    font-weight: bold;
    margin-bottom: 250px;
}

#unfound-1{
    font-size: 150px;
}

#unfound-2{
    font-size: 30px;
}

/*Contact Us*/

.contact-container {background: #ffffff;
    max-width: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* LEFT SIDE */
.contact-info {
    background: var(--capcom-color);
    color: #fff;
    padding: 40px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--capcom-color);
}

.contact-info p {
    font-size: 15px;
    line-height: 1.6;
    opacity: 0.9;
    color: var(--capcom-color);
}

/* RIGHT SIDE */
.contact-form {
    padding: 40px;
}

.contact-form h2 {
    font-size: 26px;
    margin-bottom: 25px;
    color: white;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--capcom-color);
}

.form-group textarea {
    height: 120px;
}

button {
    background: var(--capcom-color);
    color: #fff;
    border: none;
    padding: 14px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #094bb5;
}

.faq-container {
            max-width: 600px;
            margin: auto;
        }

        h1 {
            text-align: center;
            color: #1a1a1a;
        }

        .faq {
            background: #ffffff;
            border-radius: 5px;
            margin-bottom: 15px;
            overflow: hidden;
            box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        }

        .faq input {
            display: none;
        }

        .faq label {
            display: block;
            padding: 15px;
            font-weight: bold;
            cursor: pointer;
            background-color: #003a8f;
            color: #ffffff;
        }

        .faq label:hover {
            background-color: #002d6b;
        }

        .faq .answer {
            padding: 15px;
            display: none;
            color: #333;
            line-height: 1.6;
        }

        .faq input:checked ~ .answer {
            display: block;
        }

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
      }

    .contact-info {
        text-align: center;
    }
}